# Recommended .gitignore for this monorepo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.yarn-integrity
.pnpm-debug.log*

# Next.js
.next/
out/
build/
dist/
.env*.local
!.env.example

# Hardhat/Foundry/Truffle/Contracts
artifacts/
cache/
typechain/
typechain-types/
coverage/
coverage.json
*.db
.openzeppelin/
# Hardhat specific
cache_hardhat/
# Foundry specific
lib/
out/
broadcast/

# IDEs
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
*.code-workspace
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Misc
.vercel
.turbo
*.log
.cache
.npm
.eslintcache
.stylelintcache
.tersercache
